
.container-list {
display: grid;
grid-template-columns: auto;
grid-template-rows: 40px 40px 90% 34% auto;
grid-template-areas:
"header"
"nav "
"ads"
"."
"footer";
}

.c-nav{
  grid-area: nav;
  display: grid;
  background-color: rgb(0,191,255);
  color: white;
  font-size: large;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
  "cla cra"
}

.c-nav-left{
  padding-top: 5px;
  grid-area: cla;
  text-align: center;
}

.c-nav-right{
  padding-top: 5px;
  grid-area: cra;
  text-align: center;
}
.c-nav-left:hover, .c-nav-right:hover {
  background-color: rgb(0,150,200);
}

.c-ads {
grid-area: ads;
display: grid;
padding: 10px;
grid-template-columns:15% 85%;
grid-template-rows: 40% 2% 40% 12%;
grid-template-areas:
" c-ads-lup c-ads-rup"
" . ."
" c-ads-lb c-ads-rb "
" . .";
}

.c-ads-lup{
  grid-area: c-ads-lup;
  background-color:white;
}
.c-ads-rup{
  grid-area: c-ads-rup;
  background-color:white;
  padding: 10px;
  display: grid;
  grid-template-columns:50% 50%;
  grid-template-rows: 20% 20% auto 20%;
  grid-template-areas:
  "cat1 ."
  "cat2 ."
  ". . "
  "cat3 cat4";
}

.c-ads-lb{
  grid-area: c-ads-lb;
  background-color:white;
}
.c-ads-rb{
  grid-area: c-ads-rb;
  background-color:white;
  padding: 10px;
  display: grid;
  grid-template-columns:50% 50%;
  grid-template-rows: 20% 20% auto 20%;
  grid-template-areas:
  "cat1 ."
  "cat2 ."
  ". . "
  "cat3 cat4";
}
.aaa{
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.c-ads-txt{
  grid-area: cat2;
}

.c-ads-txt-t{
  grid-area: cat1;
  font-weight: bold;
}

.c-ads-txt-b{
  grid-area: cat3;
  font-weight: lighter;
}

.c-ads-txt-p{
  grid-area: cat4;
  font-weight: bold;
  text-align: right;
}
/*!!!!!!!!!!!--------------------!!!!!!!!!!!!!!!!!!!!!!!*/
.container {
display: grid;
grid-template-columns: 33% 34% 33%;
grid-template-rows: 40px 30% 30% 25% auto;
grid-template-areas:
"header header header"
"logo logo logo "
"form form form"
"button button button"
"footer footer footer";
}



.c-header{
    grid-area: header;
    display:grid;
    padding: 5px;
    background-color: rgb(0,191,255);
    grid-template-columns: 5% 50% 45%;
    grid-template-rows: 100%;
    grid-template-areas:
    ". ht ."
}

.c-header-title{
    grid-area: ht;
    color: white;
    font-size: 150%;
    font-weight:bold;
}

.c-footer{
    grid-area: footer;
    display: grid;
    background-color: rgb(0,191,255);
    grid-template-columns: 5% 50% 45%;
    grid-template-rows: 100%;
    grid-template-areas:
    ". ft . . . . . . . ."
}

.c-footer-txt{
    grid-area: ft;
    padding:10px;
    color: white;
  }

  .c-logo{
    grid-area: logo;
    display: grid;
    background: rgb(200, 200, 200);
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 5% 30% 30% 35%;
    grid-template-areas:
    ". . ."
    ". l-img ."
    ". l-title ."
    ". l-txt ."
  }

  .c-logo-img{
    grid-area: l-img;
    text-align: center;
    object-fit: contain;
  }

  .c-logo-title{
    grid-area: l-title;
    width: 100%;
    text-align: center;
    width: 100%;
    height:  100%;
  }

  .c-logo-txt{
    grid-area: l-txt;
    width: 100%;
    text-align: center;
    font-size-adjust: 80%;
  }

  .c-form{
    grid-area: form;
    display:flex;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    grid-template-areas:
    "f1 f1 f1"
  }

  .c-form-1{
    grid-area: f1;
  }

  .c-form-2{
    grid-area: f2;
  }

  .c-button{
    grid-area: button;
    display:flex;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas:
    "b b b"
  }
  .c-button button{
    grid-area: b;
    background: rgb(0,191,255);
    padding: 15px;
    border:0;
    color: white;
    font-size: 14px;
    margin: auto;
    width: 70%;
    text-align: center;
  }



/*######################################################################################################*/
html, body, .container { height: 100%; margin: 0;}
body
{
  background-color: rgb(240, 240, 240);
  font-family: "Roboto", sans-serif;
}

img{
  width: 70px;
  height: 70px;
}

form{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 5px;
  margin-top: 2%;
}
